.contatos{
    height: 100vh;
    box-shadow: 0px 0px 15px #FF0000;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;

}
.corpo.light .contatos{
    box-shadow: none;
    border: 2px solid #FF0000;
}
.contatos-conteudo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.contatos h1{
    color: #bfbfbf;
    font-size: 40px;
}
.corpo.light .contatos h1{
    color: black;
    font-weight: 900;
}
.contato{
    color: #bfbfbf;
    background-color: rgba(191, 191, 191, 0.108);
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-radius: 40px;
}
.corpo.light .contato{
    color: black;
    background-color: #bfbfbf;
}
.contato:hover{
    background-color: red;
    box-shadow: 0px 0px 25px #FF0000;
    transform: scale(1.05);
}
.corpo.light .contato:hover{
    background-color: #FF0000;
}
.contato img{
    width: 50px;
}

@media (max-width: 750px){
    .contatos{
        height: 210vh;
    }
    .contatos h1{
        position: relative;
        top: 60px;
    }
    .contatos-conteudo{
        flex-direction: column;  
        height: 100%;
    }
    .contato{
        width: 200px;
        height: 300px;
    }
}
