@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #bfbfbf;
    --primary-color2: #000000;
    --secondary-color: #ff0000;
    --secondary-color2: #b22222;
    --background-color: #0F0F0F;
    --background-color2: #bfbfbf;
}

html {
    scroll-behavior: smooth;
}

/*   MENU DE NAVEGAÇÃO   */
header {
    padding: 40px 4%;
    border-bottom: 2px solid var(--secondary-color);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.corpo.light header {
    border-bottom: 2px solid var(--secondary-color2);
}

.logo h1 {
    font-size: 40px;
    color: var(--primary-color);
    margin-right: 10px;
}

.logo h1 span{
    color: var(--secondary-color);
}
.corpo.light .logo h1{
    color: var(--primary-color2);
}

.corpo.light .logo h1 span{
    color: var(--secondary-color2);
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: var(--primary-color);
    padding-block: 16px;
    display: inline-block;
    transition: .2s;
}

.corpo.light .nav-list a {
    color: var(--primary-color2);
}

.nav-list a:hover {
    color: var(--secondary-color);
    font-weight: bold;
    transform: scale(1.10);
}

/* CORPO DA PÁGINA */
.corpo {
    width: 100%;
    height: 100vh;
    background: center / cover no-repeat;
    background-color: var(--background-color);
}

.corpo.light {
    background: #e0e0e0;
}

#inicio {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--secondary-color);
}

.corpo.light #inicio{
    border-bottom: 2px solid var(--secondary-color2);
}

.conteudo-inicio {
    text-align: center;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    flex-direction: column;
}

.inicio-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);

}

.corpo.light .inicio-txt {
    color: var(--primary-color2);
}

.inicio-txt h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: mark .5s step-end infinite, write 8s steps(22,end) infinite;
    width: 0;
    border-right: 16px solid var(--secondary-color);
    font-size: 45px;
    font-weight: 100;
}

.corpo.light .inicio-txt h1{
    border-right: 16px solid var(--secondary-color2);
}
@keyframes mark{
    50%{
        border-right-color: transparent;
    }
}
@keyframes write{
    20%{
        width: 14.1ch;
    }
    70%{
        width: 14.1ch;
    }
    85%{
        width: 0;
    }
    100%{
        width: 0;
    }
}

.inicio-txt h1 span {
    color: var(--secondary-color);
}

.corpo.light .inicio-txt h1 span{
    color: var(--secondary-color2);
}

.inicio-txt p {
    padding: 15px 0px;
}

#inicio img {
    width: 50px;
    transition: 0.2s;
}

#inicio img:hover{
    transform: scale(1.10);
}

.contatos-conteudo{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

#tecnologias {
    gap: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

#tecnologias h2 {
    text-align: center;
    color: #bfbfbf;
    font-size: 30px;
    font-weight: 400;
}

.corpo.light #tecnologias h2 {
    color: var(--primary-color2);
}

#tecnologias h2 span {
    color: var(--secondary-color);
}

.corpo.light #tecnologias h2 span {
    color: var(--secondary-color2);
}

.caixas-especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--primary-color);
    gap: 50px;
}

.caixa-especialidades {
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    width: 300px;
    height: 380px;
    padding: 20px 0px;
    transition: 0.3s;
}

.corpo.light .caixa-especialidades {
    color: var(--primary-color2);
    border: 2px solid var(--primary-color2);
}

.caixa-especialidades:hover {
    transform: scale(1.10);
    box-shadow: 0px 0px 25px var(--primary-color);
}

.corpo.light .caixa-especialidades:hover {
    box-shadow: 0px 0px 25px var(--primary-color2);
}


.caixa-especialidades h3 {
    font-size: 25px;
    font-weight: 900;
}

.caixa-especialidades p {
    display: flex;
    margin: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.btn-scroll {
    position: fixed;
    top: 90%;
    right: 1%;
}

.btn-scroll button {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 15px var(--secondary-color);
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.corpo.light .btn-scroll button{
    background-color: var(--secondary-color2);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #e0e0e0;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.corpo.light .label {
    background-color: var(--primary-color2);
}

.label .ball {
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.corpo.light .label .ball{
    background-color: var(--secondary-color2);
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-sun {
    color: #f1c40f;
}

.fa-moon {
    color: #f39c12;
}

#portfolio {
    border-top: 2px solid var(--secondary-color);
    gap: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;

}

.corpo.light #portfolio{
    border-top: 2px solid var(--secondary-color2);
}

#portfolio h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 400;
}

.corpo.light #portfolio h2 {
    color: var(--primary-color2);
}

#portfolio h2 span {
    color: var(--secondary-color);
}

.corpo.light #portfolio h2 span {
    color: var(--secondary-color2);
}

.projetos {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    flex-wrap: wrap;
    gap: 90px;
}

.projeto {
    border: 2px solid var(--secondary-color);
    text-align: center;
    width: 250px;
    height: 400px;
    padding: 20px 0px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    position: relative;
}

.overlay {
    background-color: #000000ad;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
    opacity: 0;
    transition: 0.5s;
}

.overlay p {
    color: #bfbfbf;
    font-size: 18px;
}

.overlay:hover {
    opacity: 1;
    box-shadow: 0px 0px 25px var(--secondary-color);
}

.projeto:hover {
    background-position: 100% 100%;
}

/* RESPONSIVIDADE DA PÁGINA*/

footer {
    padding: 40px 4%;
    border-top: 2px solid var(--secondary-color);
}

.corpo.light footer {
    background-color: var(--primary-color);
    border-top: 2px solid var(--secondary-color2);
}

.final {
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.corpo.light .final {
    color: var(--primary-color2);
}

@media (max-width: 750px) {
    .nav-list {
        display: none;
    }

    .conteudo-inicio {
        text-align: center;
        flex-direction: column;
        gap: 0;
    }

    .caixas-especialidades {
        flex-direction: column;
    }

    .projetos {
        flex-direction: column;
    }

    .logo h1 {
        display: flex;
        font-size: 30px;
        margin-right: 15px;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--primary-color2);
}

.corpo.light::-webkit-scrollbar {
    background-color: var(--background-color2);
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--secondary-color);
}

.corpo.light::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color2);
}